<!doctype html>
<html ng-app="demo">
<head>
	<title>Fretboard Demo</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/_demo/chordc/chordc-icon.png">

	<style>[ng-cloak],.ng-cloak{display:none;}</style>
	<link rel="stylesheet" href="/styles/_demo/demo.css">

	<script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
	<link rel="import" href="/chordc-fretboard.html">
</head>
<body ng-cloak class="ng-cloak" ng-view autoscroll>

	<script src="/rapid-build/bower_components/angular.js"></script>
	<script src="/rapid-build/bower_components/angular-resource.js"></script>
	<script src="/rapid-build/bower_components/angular-route.js"></script>
	<script src="/rapid-build/bower_components/angular-sanitize.js"></script>
	<script src="/rapid-build/scripts/app.js"></script>
	<script src="/scripts/_demo/configs/html5.js"></script>
	<script src="/scripts/_demo/configs/router.js"></script>
	<script src="/scripts/_demo/controllers/fretboard-controller.js"></script>
</body>
</html>