<div ng-controller="fretboardController">
	<h3>
		Fretboard
		<nav><a href="/demo/staff">musical staff</a></nav>
	</h3>

	<!-- INTERACTION -->
	<form name="demoForm">
		Rotate:
		<label class="radio">
			<input type="radio" ng-model="rotate"> none
		</label>
		<label class="radio">
			<input type="radio" ng-model="rotate" value="left"> left
		</label>
		<label class="radio">
			<input type="radio" ng-model="rotate" value="right"> right
		</label>
		<label class="cb">
			<input type="checkbox" ng-model="flip"> flip
		</label>
	</form>

	<!-- BINDING -->
	<div class="bottom-bumper">
		<span class="inline-block" style="min-width: 75px;">Note: {{note}}</span>
		<span>Notes: {{notes}}</span>
	</div>

	<hr>

	<!-- FRETBOARD -->
	<chordc-fretboard
		ng-attr-flip="{{flip || undefined}}"
		ng-attr-rotate="{{rotate}}">
	</chordc-fretboard>

</div>